<html>
        <head>
            <title>Django Bryan Blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">Django Bryan Blog</a></h1>
            </div>

            <div>
                <p>publicado: 29.09.2015, 09:01</p>
                <h2><a href="">Mi segundo post</a></h2>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            </div>

            <div>
                <p>publicado: 29.09.2015, 09:01</p>
                <h2><a href="">Mi segundo post</a></h2>
                <p>¡Yaaay! Pero hasta el momento, nuestra plantilla sólo muestra exactamente la misma información - considerando que antes hablábamos de plantillas como permitiéndonos mostrar información diferente en el mismo formato.

Lo que queremos realmente es mostrar posts reales añadidos en nuestra página de administración de Django - y ahí es a donde vamos a continuación.</p>
            </div>
        </body>
    </html>
